---
import { getCollection } from "astro:content";
import ProjectCard from "./ProjectCard.astro";

const projects = await getCollection("projects").then(projects => projects.reverse().slice(0, 4));
---

<div class="py-12 flex flex-col gap-4">
  <h2 class="font-bold text-3xl">Projects</h2>
  <p>
    Some of my most highlighted side projects.
    <a href="/projects" class="link hover:text-primary">View all projects ↗︎</a>
  </p>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-12 mt-6"
  >
    {
      projects.map((project) => <ProjectCard project={project} />)
    }
  </div>
</div>
