---
import Link from "../common/UnderlineLink.astro";
import ProjectItem from "./ProjectItem.astro";
import type { ProjectMeta } from "src/types";

const projects = await Astro.glob<ProjectMeta>("../../content/projects/*.md");
---

<div class="px-4 py-12 flex flex-col gap-4">
  <h2 class="font-bold text-3xl">Projects</h2>
  <p class="text-black/50 dark:text-white/50">Some of my most highlighted side projects. 
    <Link path="/projects" title="View all projects" />
  </p>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-12 mt-6">
    {projects.map(project => {
      return <ProjectItem project={project} />
    })}
  </div>
</div>