---
import type { CollectionEntry } from "astro:content";
export interface Props {
  post: CollectionEntry<"posts">;
}

const {
  data: { title, date },
  slug
} = Astro.props.post;
---

<div class="card card-compact card-bordered border-slate-500/50 hover:shadow-lg hover:shadow-secondary">
  <div class="card-body">
    <a href={`/blogs/${slug}`} class="card-title link link-hover hover:link-secondary"
      >{title}
    </a>
    <p>
      {
        date.toLocaleDateString("en-us", {
          year: "numeric",
          month: "long",
          day: "numeric"
        })
      }
    </p>
  </div>
</div>
