---
import type { CollectionEntry } from 'astro:content';
export interface Props {
  post: CollectionEntry<"posts">;
};

const { data: {title, date}, slug } = Astro.props.post;
---

<div
  class="border rounded-md border-slate-500/50 p-4 hover:shadow-lg hover:shadow-orange-500 hover:dark:shadow-teal-500 transition-shadow duration-300"
>
<a
    href={`/blogs/${slug}`}
    class="text-xl font-bold hover:text-orange-500 hover:dark:text-teal-500 transition"
    >{title}
  </a> 
  <p>{date.toLocaleDateString("en-us", {
    year: "numeric",
    month: "long",
    day: "numeric",
  })}</p>
</div>
