div[data-rehype-pretty-code-fragment] {
  @apply rounded-lg overflow-hidden mb-6 text-sm;

  * {
    @apply bg-transparent;
  }

  div[data-rehype-pretty-code-title] {
    @apply px-4 py-2 font-mono font-bold bg-primary text-primary-content;
  }

  pre {
    @apply overflow-x-auto bg-neutral;
  }

  .line {
    @apply px-4 font-mono;
  }

  code {
    @apply grid py-2;
  }

  code[data-line-numbers] {
    counter-reset: line;
  }
   
  code[data-line-numbers] > .line::before {
    counter-increment: line;
    content: counter(line);
   
    /* Other styling */
    @apply inline-block w-8 mr-4 text-right text-gray-500/70;
  }

  .line {
    @apply border-l-4 border-transparent;
  }

  .line.highlighted {
    @apply border-l-secondary bg-secondary/20;

    &::before {
      @apply font-bold;
    }
  }
}