---
import MobileWrapper from "@interactives/MobileWrapper.svelte";
import Sudoku from "@interactives/sudoku/Sudoku.svelte";
import BaseLayout from "@layouts/BaseLayout.astro";

---

<BaseLayout title="Demo">
  <main class="max-w-screen-lg mx-auto px-4 flex-1">
    <MobileWrapper>
      <Sudoku client:visible />
    </MobileWrapper>
  </main>
</BaseLayout>