---
import About from "@components/home/About.astro";
import Contact from "@components/home/Contact.svelte";
import ProjectHightlight from "@components/projects/ProjectHighlight.astro";
import RecentBlogs from "@components/blogs/RecentBlogs.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Viet Hung Nguyen | Home">
  <main class="max-w-screen-lg mx-auto px-4">
    <About />
    <ProjectHightlight />
    <RecentBlogs />
    <Contact client:visible />
  </main>
</BaseLayout>
