<div class="flex px-4 py-10 items-center gap-6">
  <div class="flex flex-col space-y-2">
    <p class="font-bold text-5xl">Hello! I am Viet.</p>
    <p class="py-2">I'm an international student at <span>Simon Fraser University</span>.
      I enjoy creating simple, beautiful and user-friendly web applications and I'm passionate to learn new web technology.</p>
      
      <p>I'm currently looking for a role as a developer.</p>
      
      <div class="flex items-center space-x-4 py-2">
        <button class="p-2 rounded-lg text-white bg-orange-500 dark:bg-blue-600 hover:bg-orange-600 hover:dark:bg-blue-700">Resumé</button>
        <a><i class="fa-brands fa-github text-2xl hover:text-orange-600 hover:dark:text-blue-400 cursor-pointer"></i></a>
        <a><i class="fa-brands fa-linkedin text-2xl hover:text-orange-600 hover:dark:text-blue-400 cursor-pointer"></i></a>
      </div>
    </div>

    <img alt="My photo" width="600px" class="hidden md:block" />
  </div>