<div class="p-4">
  <h2 class="font-bold text-3xl mb-4">Projects</h2>
  <p class="opacity-80">Only some of my most hightlighted side projects are listed below, but you can see <a> all of them here <i class="fa-solid fa-arrow-right text-sm"></i></a></p>
</div>