<div class="px-4 py-12 flex flex-col gap-4">
  <h2 class="font-bold text-3xl">Projects</h2>
  <p class="text-black/50 dark:text-white/50">Some of my most highlighted side projects.
  <a href="/projects" class="text-black dark:text-white text-current hover:text-orange-500 hover:dark:text-teal-500">
    <span class="underline underline-offset-4">All projects</span>
    <i class="fa-solid fa-arrow-up text-sm rotate-45" />
  </a></p>
</div>