---
import Link from "../common/UnderlineLink.astro";
const posts = await Astro.glob('../../content/posts/*.mdx');
import BlogCard from "../blogs/BlogCard.astro";
---

<div class="px-4 py-12">
  <h2 class="text-3xl font-bold mb-4">Recent Blogs</h2>
  <p class="text-black/50 dark:text-white/50">A records of my learning journey into coding.
    <Link path="/blogs" title="View all blogs" />
  </p>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-6">
    {posts.map((post) => {
      const {title, date, slug} = post.frontmatter;
      return <BlogCard title={title} date={date} slug={slug} />
    })}
  </div>
</div>