---
const slug = Astro.props.id;
import Icon from "astro-icon";
---

<h2 class="group cursor-pointer" id={slug}>
  <slot />
  <a
    class="hidden group-hover:inline-block hover:text-orange-500 hover:dark:text-teal-500"
    href={`#${slug}`}
    tabindex="-1"
  >
    <Icon name="fa-solid:link" class="w-4 h-4" />
  </a>
</h2>
