---
export interface Props {
  path: string;
  title: string;
}

const { path, title } = Astro.props;
---

<a
  href={path}
  class="link text-black dark:text-white text-current inline-flex items-center space-x-1"
>
  <span class="underline underline-offset-4">{title} ↗︎</span>
</a>
