---
import TableOfContent from "@components/blogs/TableOfContent.svelte";
import H2 from "@components/common/H2.astro";
import H3 from "@components/common/H3.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import "@styles/blog.css";
import "@styles/code.scss";
import { getEntryBySlug } from "astro:content";

// Fetch post
const post = await getEntryBySlug("posts", Astro.params.slug || "");

if (!post) {
  return Astro.redirect("/");
}

const {
  data: { title, date }
} = post;
const { Content, headings } = await post.render();
---

<style is:global>
  html {
    scroll-behavior: smooth;
  }
</style>

<BaseLayout title={title}>
  <main
    class="flex flex-1 px-4 w-full max-w-screen-lg mx-auto gap-4 items-start py-24 scroll-smooth"
  >
    <article class="blog min-w-0">
      <h1 class="text-4xl font-bold mb-6">{title}</h1>
      <h5 class="mb-6">
        {
          date.toLocaleDateString("en-us", {
            year: "numeric",
            month: "long",
            day: "numeric"
          })
        }
      </h5>
      <hr />
      <Content
        components={{
          h2: H2,
          h3: H3,
        }}
      />
    </article>
    <aside
      class="hidden md:min-w-[16rem] md:flex flex-col gap-3 sticky top-24 bg-slate-500/10 p-4 rounded-md items-start"
    >
      <TableOfContent
        client:load
        headings={headings.filter((heading) => heading.depth <= 3)}
      />
    </aside>
  </main>
</BaseLayout>
