---
import BaseLayout from "@layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const posts = await Astro.glob('../../content/posts/**/*.mdx');
  return posts.map(post => ({
    params: {
      slug: post.frontmatter.slug
    },
    props: {
      post
    }
  }))
}

const { Content, frontmatter } = Astro.props.post;
---

<BaseLayout title={frontmatter.title}>
  <article class="px-4 py-8 items-center flex flex-col gap-4">
    <h1 class="text-4xl md:text-6xl font-bold">{frontmatter.title}</h1>
    <h5 class="text-black/50 dark:text-white/50 italic">{new Date(frontmatter.date).toDateString()}</h5>
    <div class="w-full prose max-w-none prose-sm md:prose-base prose-orange dark:prose-invert dark:prose-teal">
      <Content />
    </div>
  </article>
</BaseLayout>