---
import TableOfContent from "@components/blogs/TableOfContent.svelte";
import H2 from "@components/common/H2.astro";
import H3 from "@components/common/H3.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getEntryBySlug } from "astro:content";

// Fetch post
const post = await getEntryBySlug("posts", Astro.params.slug || "");

if (!post) {
  return Astro.redirect('/');
}

const { data: {title, date} } = post;
const {Content, headings} = await post.render();

---

<style is:global>
  html {
    scroll-behavior: smooth;
  }
</style>

<BaseLayout title={title}>
  <main
    class="flex flex-1 px-4 w-full max-w-screen-lg mx-auto gap-4 items-start py-24 scroll-smooth"
  >
    <article class="flex flex-col flex-1 mx-auto gap-4">
      <h1 class="text-4xl font-bold">{title}</h1>
      <h5 class="text-black/50 dark:text-white/50">{date.toLocaleDateString("en-us", {
        year: "numeric",
        month: "long",
        day: "numeric",
      })}</h5>
      <div class="flex gap-4">
        <div
          class="flex-1 prose max-w-none prose-orange 
          prose-headings:scroll-mt-24 dark:prose-invert dark:prose-teal 
          prose-code:before:content-none prose-code:after:content-none 
          prose-pre:border-2 prose-pre:border-orange-500 prose-pre:dark:border-teal-500
          prose-pre:bg-stone-100 prose-pre:dark:bg-stone-900 prose-pre:overflow-scroll prose-pre:max-w-full"
        >
          <Content components={{
            h2: H2,
            h3: H3
          }} />
        </div>
      </div>
    </article>
    <aside
      class="w-60 hidden md:flex flex-col gap-3 sticky top-24 bg-slate-500/10 p-4 rounded-md items-start"
    >
      <TableOfContent
        client:load
        headings={headings.filter((heading) => heading.depth <= 3)}
      />
    </aside>
  </main>
</BaseLayout>
