---
import BlogCard from "@components/blogs/BlogCard.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
posts.reverse();
---

<BaseLayout title="Viet Hung Nguyen | Blogs">
  <main class="flex-1 max-w-screen-lg mx-auto w-full px-4">
    <h2 class="text-4xl font-bold py-6">Blogs</h2>
    <p class="max-w-screen-sm">
      A collection of thoughts about my journey into coding, some small web experiments that cannot dedicate to a separate site, 
      and other random stuff.
    </p>
    <div class="space-y-6 my-6 max-w-screen-sm">
      {
        posts.map((post) => {
          return <BlogCard post={post} />;
        })
      }
    </div>
  </main>
</BaseLayout>
