---
export interface Props {
  title: string;
}
const { title } = Astro.props;
import "../styles/base.scss";
import NavigationBar from "./NavigationBar.svelte";
---

<style is:global>
  body {
    @apply dark:text-white transition;
  }
</style>

<style>
  footer a {
    @apply font-bold;
  }
</style>

<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>
<!-- Katex -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
  integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ"
  crossorigin="anonymous"
/>

<body class="flex flex-col w-screen min-h-screen items-stretch">
  <script is:inline>
    const theme = (() => {
      if (
        typeof localStorage !== "undefined" &&
        localStorage.getItem("theme")
      ) {
        return localStorage.getItem("theme");
      }
      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        return "dark";
      }
      return "light";
    })();

    if (theme === "dark") {
      document.documentElement.setAttribute("data-theme", "night");
    } else {
      document.documentElement.setAttribute("data-theme", "emerald");
    }
    window.localStorage.setItem("theme", theme);
  </script>
  <NavigationBar client:load />
  <slot />
  <footer class="p-4 text-center text-sm bg-base-300">
    Built with
    <a
      class="typescript hover:text-blue-500"
      href="https://www.typescriptlang.org/">TypeScript</a
    >,
    <a class="tailwind hover:text-teal-500" href="https://tailwindcss.com/"
      >TailwindCSS</a
    >, and
    <a class="astro hover:text-orange-500" href="https://astro.build/">Astro</a>
  </footer>
</body>
