---
export interface Props {
  title: string;
}
const {title} = Astro.props;
import MobileMenu from "./MobileMenu.svelte";
import ThemeSwitcher from "./ThemeSwitcher.svelte";
---

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme") || "light";
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("theme", theme);
</script>

<style is:global>
  body {
    @apply dark:text-white;
  }
</style>

<style>
  .link, footer a {
    @apply cursor-pointer font-bold;
  }

  .link {
    @apply hidden sm:block;
  }
</style>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <script src="https://kit.fontawesome.com/7e04ce6a14.js" crossorigin="anonymous"></script>
		<title>{title}</title>
	</head>
	<body class="flex flex-col w-screen min-h-screen bg-white dark:bg-gray-800">
    <header class="flex flex-row items-center justify-between border-b-2 p-4 sticky top-0">
      <!-- Mobile menu -->
      <MobileMenu client:visible />
      <a href="/" class="uppercase brand">Viet Hung Nguyen</a>
      <!-- Desktop links -->
      <nav class="flex gap-4 items-center">
        <a href="/" class="link hover:text-transparent hover:bg-clip-text hover:bg-gradient-to-r hover:from-red-400 hover:to-yellow-400 hover:dark:from-blue-600 hover:dark:to-green-600">Home</a>
        <a href="/projects" class="link hover:text-transparent hover:bg-clip-text hover:bg-gradient-to-r hover:from-red-400 hover:to-yellow-400 hover:dark:from-blue-600 hover:dark:to-green-600">Projects</a>
        <a href="/blogs" class="link hover:text-transparent hover:bg-clip-text hover:bg-gradient-to-r hover:from-red-400 hover:to-yellow-400 hover:dark:from-blue-600 hover:dark:to-green-600">Blogs</a>
        <a href="/contact" class="link hover:text-transparent hover:bg-clip-text hover:bg-gradient-to-r hover:from-red-400 hover:to-yellow-400 hover:dark:from-blue-600 hover:dark:to-green-600">Contact</a>
        <!-- Theme toggle -->
        <ThemeSwitcher client:load />
      </nav>
    </header>
    <main class="flex-1">
      <slot />
    </main>
    <footer class="py-2 text-center border-t-2">
      Built with <a class="typescript hover:text-blue-500">TypeScript</a>, <a class="tailwind hover:text-teal-500">TailwindCSS</a>, and <a class="astro hover:text-orange-500">Astro</a><i class="ml-1 fas fa-heart hover:text-red-500"></i> 
    </footer>
    <button>
      <i class="fa-solid fa-arrow-up fixed bottom-12 right-4 text-2xl rounded-full bg-gradient-to-r from-red-400 to-yellow-400 p-2 aspect-square dark:from-blue-600 dark:to-green-600" />
    </button>
	</body>
</html>