---
export interface Props {
  title: string;
}
const {title} = Astro.props;
import Menu from "./Menu.svelte";
---

<style>
  a {
    @apply cursor-pointer font-bold;
  }

  .brand {
    @apply font-medium;
  }

  .brand:hover {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-red-500 to-yellow-500;
  }

  .typescript:hover {
    @apply text-blue-500;
  }

  .tailwind:hover {
    @apply text-teal-500;
  }

  .astro:hover {
    @apply text-orange-500;
  }
</style>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <script src="https://kit.fontawesome.com/7e04ce6a14.js" crossorigin="anonymous"></script>
		<title>{title}</title>
	</head>
	<body class="flex flex-col w-screen min-h-screen">
    <nav class="flex flex-col sm:flex-row items-center justify-between p-4 border-b-2 gap-4 sticky top-0 bg-white">
      <a href="/" class="uppercase brand">Viet Hung Nguyen</a>
      <!-- Nav bar -->
      <Menu client:only />
    </nav>
    <main class="flex-1">
      <slot />
    </main>
    <footer class="py-2 text-center border-t-2">
      Built with <a class="typescript">TypeScript</a>, <a class="tailwind">TailwindCSS</a>, and <a class="astro">Astro</a><i class="ml-1 fas fa-heart hover:text-red-500"></i> 
    </footer>
    <button>
      <i class="fa-solid fa-arrow-up fixed bottom-12 right-4 text-2xl rounded-full bg-gradient-to-r from-red-400 to-yellow-400 p-2 aspect-square" />
    </button>
	</body>
</html>